
.input-group-addon:first-child {
    border-right: 0;
    width: 158px;
}

.input-group .form-control:last-child {
    width: 401px;
}

.pac-container {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}